h1 {
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    position: relative;
    min-height: 1000px;
}

/* Bar de navigation */
header {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0,5;
}

header .logo {
    color: #fff;
    margin-top: 30px;
    font-weight: 700; 
    font-size: 30px;
}

header.sticky{
    background: black;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: 0,5;
}

header.sticky .navbar__links{
    background: linear-gradient(90deg, lightgray, gray,black);
}

header.sticky .navbar__links:hover {
    color: white;
    background: linear-gradient(90deg, black, gray,lightgray);
}

#nav {
    position: relative;
    display: flex;
}

.navbar__links { 
    color: white;
    background-color: black;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 12px;
    padding:15px 40px;
    text-decoration: none;
    margin-left: 150px;
 } 

.navbar__links:hover {
    color: black;
    background-color: white;
} 


/* Bar de recherche */

input {
    padding: 15px 20px;
    border: none;
    width: 500px;
    font-size: 18px;
    outline: none;
}

button {
    color: #fff;
    padding: 17px 22px;
    border-color: white;
    background-color: black;
    font-size: 12px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

#recherche{
    position: relative;
    text-align: center;

}

#suggestions {
    font-size: 20px;
    width: 14.35%;
    background-color: #fff;

}

#suggestions:hover {
    background-color: blue;
    color: #fff;
}

/* Block entier */

#ToutLeBlock {
    position: relative;
    width: 100%;
    min-height: 300vh;
    background-image: url(/static/images/band.jpg), url(/static/images/fond.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    display: flex, flex;
    justify-content: center,center;
    align-items: center,;
}

/* Block gauche */

.block {
    position: relative;
    bottom: 5%;
    font-size: 80px;
    font-family: "gisbon_demodemo";
    color: white;
    text-shadow: 4px 4px rgb(192, 103, 103);
    height: 400px;
    overflow: hidden;
}

#un {
    position: absolute;
    align-items: top;
    bottom: 75%;
    left: 30%;
 }

/* les texte */

.textes1 {
    position: relative;
    bottom: 5%;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px rgb(192, 103, 103);
    height: 400px;
    overflow: hidden;
}

#t1 {
    position: absolute;
    align-items: top;
    bottom: 36%;
    left: 48%;
}

.textes2 {
    position: relative;
    bottom: 5%;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px rgb(192, 103, 103);
    height: 400px;
    overflow: hidden;
}

#t2 {
    position: absolute;
    align-items: top;
    bottom: 18%;
    left: 5%;
}



/* Block de droite */
.block2 {
    display: inline-block;
    background-image: url(/static/images/concert.jpg);
    background-repeat: no-repeat;
    width: 49%;
    height: 500px;
    color: black;
}

#deux {
    position: absolute;
    align-items: right;
    bottom: 17%;
    left: 50%;
    
}

/* Block de trois */

.block3 {
    display: inline-block;
    background-image: url(/static/images/groupe.jpg);
    background-repeat: no-repeat;
    width: 49%;
    height: 500px;
    color: black;
}

#trois {
    position: absolute;
    align-items: left;
    bottom: 35%;
    right: 46%;
}

/* Block de quatre */

.block4 {
    display: inline-block;
    background-color: rgb(224, 221, 221);
    width: 100%;
    height: 300px;
}

#quatre {
    position: absolute;
    align-items: center;
    top: 90%;
    
}

.nom {
    background-color: rgb(128, 24, 24);
    position: absolute;
    align-items: center;
    display: flex;
}
#h1 {
    background-color: rgb(128, 24, 24);
}

/* Carte interactive */

.map {
    position: fixed;
    height: 690px;
    width: 45%;
    top: 250px;
    left: 110px;
    border-radius: 12px;
  }

  
.bande1 {
    position: fixed;
    background: url(/static/images/galaxy.jpg);
    top: 250px;
    height: 750px;
    width: 100px;
    
}

.bande1 .texte1 {
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 80px;
    margin-top: 200px;
}

.bande2 {
    position: fixed;
    background: url(/static/images/galaxy.jpg);
    top: 250px;
    height: 750px;
    width: 100px;
    right: 0px;
    
}

.bande2 .texte2 {
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 80px;
    margin-top: 80px;
}

#search_location {
    position: fixed;
    top: 250px;
    width: 20%;
    left: 1000px;
    border-radius: 12px;

}

#concert {
    position: fixed;
    background-color: #fff;
    padding: 17px 22px;
    border-color: black;
    font-size: 12px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    width: 35%;
    height: 500px;
    top: 400px;
    margin-left: 1000px;

}

/* Tableau page groupe */

#tab {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

#tab::-webkit-scrollbar {
    width: 0;
}

#cadre {
    background-color: blue;
    color:#fff;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    height: 550px;
    width: 350px;
    border-radius: 10px;
    margin-top: 370px;
    margin-left: 20px;
    
}

#cadre #name {
    margin: 10px; 
    display: flex; 
    justify-content: center; 
}

#cadre #image {
    display: flex;
    align-items: center;
    margin: 40px;
    border-color: #fff;
    border-radius: 12px;
}

#image img {
    position: relative;
    height: 200px;
    border-radius: 12px;
}

#sch {
    position: fixed;
    top: 230px;
    left: 27%;
}

#searchInput {
    border-radius: 10px;
}

<<<<<<< HEAD
  /* la vague */
.custom-shape-divider-top-1619682806 {
    position: absolute;
    bottom: 53%;
    left: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
    line-height: 0;
}



=======
#btn {
    position: fixed;
    top: 230px;
    left: 1250px;
}
>>>>>>> 39b189057f4136f380a450e6b381cc1585d2397a
