h1 {
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    position: relative;
    min-height: 1000px;
}

/* Bar de navigation */
header {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0,5;
}

header .logo {
    color: #fff;
    margin-top: 30px;
    font-weight: 700; 
    font-size: 30px;
}

header.sticky{
    background: black;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: 0,5;
}

header.sticky .navbar__links{
    background: linear-gradient(90deg, lightgray, gray,black);
}

header.sticky .navbar__links:hover {
    color: white;
    background: linear-gradient(90deg, black, gray,lightgray);
}

#nav {
    position: relative;
    display: flex;
}

.navbar__links { 
    color: white;
    background-color: black;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 12px;
    padding:15px 40px;
    text-decoration: none;
    margin-left: 150px;
 } 

.navbar__links:hover {
    color: black;
    background-color: white;
} 


/* Bar de recherche */

input {
    padding: 15px 20px;
    border: none;
    width: 500px;
    font-size: 18px;
    outline: none;
}

button {
    color: #fff;
    padding: 17px 22px;
    border-color: white;
    background-color: black;
    font-size: 12px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

#recherche{
    position: relative;
    text-align: center;

}

#suggestions {
    font-size: 20px;
    width: 14.35%;
    background-color: #fff;

}

#suggestions:hover {
    background-color: blue;
    color: #fff;
}

/* Block entier */

#ToutLeBlock {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(/static/images/band.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Block gauche */

.block {
    display: inline-block;
    background: blue;
    width: 50%;
    height: 500px;
    color: black;
}

#un {
    position: relative;
    top: 10px;
 }


/* Block de droite */
.block2 {
    display: inline-block;
    background: pink;
    width: 49%;
    height: 500px;
    color: black;
}

#deux {
    position: relative;
    top: 10px;
    left: 15px;
}

/* Block de trois */
.block3 {
    display: inline-block;
    background: red;
    width: 50%;
    height: 500px;
    color: black;
}

#trois {
    position: relative;
    top: 25px;
    left: 30px;
}

/* Block de quatre */
.block4 {
    display: inline-flex;
    background: yellow;
    width: 50%;
    height: 500px;
    color: black;
}

#quatre {
    position: relative;
    top: 25px;
    left: 30px;
}

/* Carte interactive */

.map {
    position: fixed;
    height: 750px;
    width: 76.30%;
    top: 250px;
    left: 225px;
  }

  
.bande {
    position: fixed;
    background: url(/static/images/galaxy.jpg);
    top: 250px;
    height: 750px;
    width: 225px;
    
}

.bande2 {
    position: fixed;
    background: url(/static/images/galaxy.jpg);
    top: 250px;
    height: 750px;
    width: 225px;
    right: 0px;
    
}

  /* Tableau page groupe */

.tableau {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    margin-top: 175px;
}

#charactersList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.character {
    list-style-type: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'name image';
    text-align: left;
}


.character > h2 {
    grid-area: name;
    margin-bottom: 0px;
}

.character > img {
    max-height: 100px;
    grid-area: image;
}

  /* la */
svg { 
	display: inline-block; 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 1; 
} 
.vague { 
	display: inline-block; 
	position: absolute; 
	width: 100%; 
	top: 0; 
	left: 0; 
} 
