{{ define "body" }}

<div class="tableau">
   <ul id="charactersList"></ul>
</div>
<form>
   <div id="sch">
      <input class="input" id="searchInput" type="text" placeholder="Search..." />
      <button type="submit" id="srch">search</button>
      <button type="submit" id="nuke">clear search</button>
      <div id="suggestions"></div>
   </div>
</form>

<script type="module">
   import { sortTable, clickEvent } from '../static/JS/tri.js'
   clickEvent()
</script>

<div id="myData"></div>
<button type="button" id="btn" >sort</button>
{{ if .Groupes }}

<div id="tab">
   {{range .Groupes}}
   <div id="cadre">

      <div id ="image" class="result">
         <img src="{{.Image}}">
      </div>
      <div id="name">
         {{.Name}}
      </div>
   </div>
   {{end}}
</div>

{{end}}
{{end}}