{{ define "body" }}

<div class="tableau">
   <ul id="charactersList"></ul>

<form>
   <div id="sch">
      <input class="input" id="searchInput" type="text" placeholder="Search..." />
      <div id="suggestions"></div>
      <button type="submit" id="srch">search</button>
      <button type="submit" id="nuke">clear search</button>
      <button id="sort"> Sort</button>
      <div id="example">
         <div class="date">
            Date de création <input id="date" type="text" placeholder="Search date..." />
            <br>
            Nombres de membres <input id="range-box" type="range" min="0" max="8" step="1"/>

         </div>
      </div>
   </div>
</form>

<script src="/static/JS/sort.js"></script>

<div id="myData"></div>
{{ if .Groupes }}

<div id="tab">
   {{range .Groupes}}
   <div id="cadre">

      <div id ="image" class="result">
         <img src="{{.Image}}">
      </div>

      <div id="info">
         <div id="name">{{.Name}} </div>
         <br>
         <div class="album">Membres: {{.Members}}</div>
         <br>
         <div class="creation">{{.CreationDate}}</div>
      </div>
   </div>
   {{end}}
</div>
</div>

{{end}}
{{end}}
     <!-- <div class="album">{{.FirstAlbum}}</div> -->