h1 {
    color: black;
}

body {
    background-color: #0B93F8
}

/* Bar de navigation */

header {  
    background-color: #0BF8D0;
    background-size: cover;
    height: 130px;
    font-size: 2rem;
    padding: 0 50px;
}

#nav {
    position: relative;
   top: 40px;
}

.navbar__links {
    color: #fff;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    padding:0 3rem;
}


/* Bar de recherche */

input {
    padding: 15px 20px;
    border: none;
    font-size: 18px;
    outline: none;
}

button {
    color: #fff;
    padding: 14px 19px;
    border: none;
    background-color: black;
    font-size: 12px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

#recherche{
    position: relative; 
    left: 1300px;

}

#suggestions {
    font-size: 20px;
    width: 14.35%;
    background-color: #fff;

}

#suggestions:hover {
    background-color: blue;
    color: #fff;
}

/* Block entier */

#ToutLeBlock {

}


/* Block gauche */

.block {
    display: inline-block;
    background: yellow;
    width: 50%;
    height: 500px;
    color: black;
}

#un {
    position: relative;
    top: 10px;
 }

/* Block de droite */
.block2 {
    display: inline-block;
    background: greenyellow;
    width: 49%;
    height: 500px;
    color: black;
}

#deux {
    position: relative;
    top: 10px;
    left: 15px;
}

/* Carte interactive */

#map {
    height: 750px;
    width: 75%;
    top: 15px;
    left: 225px;
  }



